# IDEs
.idea/

# Hugo
resources/
public/
jsconfig.json
node_modules/
go.sum
.hugo_build.lock
/content/publication/conference-paper/
/content/publication/journal-article/
/content/post/blog-with-jupyter/
/content/post/getting-started/
/content/post/writing-technical-content/
/content/post/_index.md
/content/slides/example/
